# for clear code
black==22.10.0

flake8 == 5.0.4

pre-commit == 2.20.0

pyupgrade==3.1.0

# main
Django==4.1.2

webargs == 8.2.0

faker==15.1.1

# For environment variables and config.
django-environ==0.9.0
# For DB connection.
psycopg2-binary==2.9.5
