{% extends 'base.html' %}

{% block body %}
    <div>
        <h2>Contacts</h2>
        <table>
            <tbody>
                <tr>
                <td>name</td><td> | phone</td><td> | date_of_birth</td>
                    <td> | date_of_creation</td><td> | date_of_change</td>
                </tr>
            {% for contact in contacts %}
                <tr>
                <td>{{ contact.name }}</td><td> | {{ contact.phone }}</td><td> | {{ contact.date_of_birth }}</td>
                    <td> | {{ contact.date_of_creation }}</td><td> | {{ contact.date_of_change }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}