{% extends 'base.html' %}

{% block body %}
    <div>
        <h2>Contacts</h2>
            <p><a href="{% url 'contacts:contact_new' %}">
                <button type="button" class="btn btn-outline-success">
                    New Contact
                </button>
            </a></p>
        <table>
            <thead>
                <tr>
                <th><b>name</b></th>
                <th><b>phone</b></th>
                <th></th>
                </tr>
            </thead>
            <tbody>
            {% for contact in contacts %}

                <tr class="my-style-2">
                <td><a href="{% url 'contacts:contact_details' pk=contact.pk%}">{{ contact.name }}</a></td>
                    <td> {{ contact.phone }}</td>
                    <td> &nbsp; <a href="{% url 'contacts:contact_delete' pk=contact.pk %}">
                    <button type="button" class="btn btn-outline-danger">
                        Delete
                    </button>
                    </a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}