.my-header{
    display: flex;
    flex-flow: row;

    justify-content: center;
    align-items: center;
}

.logo{
    width: 3em;
    height: 3em;
}

.my-style-1 {
    border: 1px solid blue;
    width: fit-content;
    border-radius: 4px;

    margin: 1em;
    padding: 0.2em;

    background: rgba(158, 196, 245, 0.21);
}

.contact-avatar{
    max-width: 5em;
}

.table {
	width: 100%;
	margin-bottom: 20px;
	margin-left: 1em;
	border: 5px solid #fff;
	border-top: 5px solid #fff;
	border-bottom: 3px solid #fff;
	border-collapse: collapse;
	outline: 3px solid #ffd300;
	font-size: 15px;
	background: #ffffff !important;
}
.table th {
	font-weight: bold;
	padding: 7px;
	background: #ffd300;
	border: none;
	text-align: left;
	font-size: 15px;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #ffd300;
}
.table td {
	padding: 7px;
	border: none;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	font-size: 15px;
}
.table tbody tr:nth-child(even){
	background: #f8f8f8!important;
}
