{% extends 'base.html' %}

{% block title %}Contact Details{% endblock title %}

{% block body %}
    <div style="margin: 1em">
        <h2>{{ contact.name }}</h2>
        <div>
            {% if contact.avatar %}
                <img class="contact-avatar" src="{{ contact.avatar.url }}" alt="{{ contact.name }}">
            {% endif %}
        </div>
        <p> <b> Phone number</b> - {{ contact.phone }}</p>
        <p> <b> Date of birth</b> - {{ contact.date_of_birth }}</p>
        <p> <b> Date of change</b> - {{ contact.date_of_change }}</p>
        <p> <b> Date of creation</b> - {{ contact.date_of_creation }}</p>
        <p><a href="{% url 'contacts:contact_edit' pk=contact.pk %}">Edit</a> &nbsp;
            <a href="{% url 'contacts:contact_delete' pk=contact.pk %}">Delete</a> </p>
    </div>
{% endblock %}